<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo</title>
    
</head>
<body >     
<div class="C1">
    <div>
        <STYLE type="text/css">
          H1.Tit {background:#273f27;color:#ffffff; text-align:center;margin:2% 20%;margin-bottom:0%;padding:1%;box-sizing: border-box;border-right:solid 2px #000000;border-left:solid 2px #000000;border-bottom:solid 1px #000000;border-top:solid 1px #000000;border-top-left-radius:10px;border-top-right-radius:10px;}
          div.C1 {text-align:center;}
          H3 {text-align: center; color:#ffffff}
          H5 {margin:2% 20%;margin-bottom:2%;text-align: center; color:#ffffff}
          button.C1 {text-align:center;box-sizing: border-box;margin:5px;padding:10px 5%;border:none;background:#1c2f1f;color:#ffffff;}
          button:hover {box-sizing: border-box;background:#405142;font-weight:bold;padding:12px 5%;border-radius:5px;cursor:pointer;box-shadow:0px 2px 0px #ffffff}
          body {background:#678a67;}
          footer {background:#273f27;border-right: solid 2px #000000;text-align:center;border-bottom-right-radius:10px;border-bottom-left-radius:10px;color:#ffffff;margin: 0% 20%;border-top: solid 1px #000000;border-left: solid 2px #000000;border-bottom: solid 2px #000000;}
        </STYLE>
    </div>
    <div>
        <H1 class="Tit"> JUEGO DE CARTAS </H1>
        
        <H3> Los links que se podran utilizar son: </H3>   
        <H5> 1 Crear una baraja ("/deck/new") </H5>
        <H5> 2 Revolver la baraja ("/deck/shuffle") </H5>
        <H5> 3 Ver las cartas que quedan en la baraja ("/deck/show/remain") </H5>
        <H5> 4 Tomar una carta para jugar ("/deck/pickone") </H5>
        <H5> 5 Ver las cartas que tengo en la mano ("/user/show/hand") </H5>
        <H5> 6 Ver las posibles jugadas que tengo en mano ("/user/play") </H5>
        <button class='C1' onclick="window.location.href='http://127.0.0.1:5000/deck/new'">Nueva Baraja</button>
        <button class='C1' onclick="window.location.href='http://127.0.0.1:5000/deck/shuffle'">Revolver Baraja</button>
        <button class='C1' onclick="window.location.href='http://127.0.0.1:5000/deck/show/remain'">Ver Disponibles</button>
        <button class='C1' onclick="window.location.href='http://127.0.0.1:5000/deck/pickone'">Tomar Carta</button>
        <button class='C1' onclick="window.location.href='http://127.0.0.1:5000/user/show/hand'">Ver Mano</button>
        <button class='C1' onclick="window.location.href='http://127.0.0.1:5000/user/play'">Mis Jugadas</button>
    </div>
    <footer>
        <p class="pie">Programación Avanzada Segundo Exámen</p>
    </footer>
</div>
</body>
</html>